*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "Plain Light";
}
#crsr{
    width: 3vw;
    height: 3vw;
    border: 1px solid #ffffff7d;
    position: fixed;
    border-radius: 50%;
    z-index: 999;
    /* margin-left: -300px; */
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}
#loader h1{
    font-weight: 900;
    font-size: 6vw;
    text-transform: uppercase;
}
#line{
    overflow: hidden;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line1-part-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}
#line1-part-1 h5,#line1-part-1 h6{
    font-weight: 100;
    font-size: 4vw;
    font-family: silk serif;
}
#main{
    position: relative;
    background-color: #151515;
}
#page-1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}
nav #part-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
}
nav #part-2 h4{
    cursor: pointer;
}
#page-1 nav #part-2{
    font-size: 1vw;
    font-weight: 500;
}
#hero{
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}
#hero:nth-child(2){
    margin-top: 12vh;
}
.hero3 h2,.hero3 h3{
    font-size: 7.1vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 7vw;
}
#hero h1{
    font-size: 7.1vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 7vw;
}
.hero3 h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
}